{% extends "home.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 3rem;">
    <div class="text-center" style="max-width: 400px; margin: auto; padding: 3rem; background: #f8f9fa; border-radius: 12px; box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);">
        <h2 style="color: #8A2C3B;">Register Here:</h2> 

        <form method="post" action="{% url 'accounts:register' %}" class="d-inline-block text-start">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex justify-content-center">
                <button class="btn custom-button btn-lg d-inline-flex align-items-center mt-3" type="submit" style="border-radius: 25px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); padding: 10px 20px;">
                    Register
                </button>
            </div>
        </form>
        <div class="alert alert-info mt-3" role="alert">
            <strong>Note:</strong> Please use your school email to register. If you use any other email, you will not have access to the system.
        </div>

        <p class="mt-3" style="font-weight: 500;">Already have an account? <a href="{% url 'accounts:login' %}" style="color: #8A2C3B;">Login Here</a></p> <!-- Updated color here -->
    </div>
</div>

<style>
    .custom-button {
        background-color: #8A2C3B; 
        color: white;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        border-radius: 5px;
        padding: 15px 20px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .custom-button:hover {
        color: white;
        background-color: #7A2B3B; 
        transform: translateY(-3px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
</style>
{% endblock %}
