{% extends "home.html" %}

{% block title %}
  Class Shell
{% endblock %}

{% block content %}
 
<div class="container d-flex flex-column flex-grow-1 mt-4">
  <div class="text-center mb-4">
    <h2 style="color: #61162D;">Welcome back, {{ user.username }}!</h2>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% if class_shells %}
      {% for class_shell in class_shells %}
      <div class="col"> 
        <div class="card hover-card d-flex flex-column" style="width: 250px; height: 270px;">
            <img src="https://picsum.photos/600/400?random={{ forloop.counter }}" class="card-img-top" style="height: 100px;" alt="Course Image">
            <div class="card-body d-flex flex-column justify-content-between text-center">
              <div class="card-title text-truncate" style="max-width: 100%; white-space: nowrap; overflow: hidden;">
                {{ class_shell.course_name }}-{{ class_shell.section_number }}
              </div>
                <div class="container">
                <div class="row">
                  <div class="col">{{ class_shell.semester }}</div>
                  <div class="col">{{ class_shell.year }}</div>
                </div>
              </div>
              <a href="{% url 'student:go_to_course' class_shell.id %}" class="btn custom-button mt-2">Go to course</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col text-center">
        <p>No courses available.</p>
      </div>
    {% endif %}
  </div>
  
</div>

{% endblock %}