<div class="container d-flex flex-column align-items-center text-center mt-4">
    <h2 class="mb-4 card-title">Live Code Editor</h2>
    <select id="language-select" class="form-select d-inline w-auto">
        <option value="python">Python</option>
        <option value="javascript">JavaScript</option>
    </select>

    <iframe id="code-iframe" src="https://pythontutor.com/cp/composingprograms.html#mode=edit" 
        width="90%" height="500px" class="border rounded shadow-sm"></iframe>
</div>

<script>
    document.getElementById("language-select").addEventListener("change", function() {
        let selectedLanguage = this.value;
        let iframe = document.getElementById("code-iframe");

        if (selectedLanguage === "python") {
            iframe.src = "https://pythontutor.com/cp/composingprograms.html#mode=edit";
        } else if (selectedLanguage === "javascript") {
            iframe.src = "https://pythontutor.com/javascript.html#mode=edit";
        }
    });
</script>
