<h2 class="text-center mb-4 card-title">Exercises for {{ class_shell.course_name }}</h2>

<!-- List of Existing Exercises -->
<div class="row mt-3">
    {% for exercise in exercises %}
        <div class="col-md-6">
            <div class="card shadow-sm mb-3 border-0">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-1"><strong>{{ exercise.title }}</strong></h5>
                    </div>

                    <!-- Go to Exercise Button -->
                    <a href="{% url 'student:attempt_exercise' class_shell_id=class_shell.id exercise_id=exercise.id %}" 
                    class="btn btn-sm btn-light text-maroon">
                    <i class="fas fa-play"></i> Attempt Exercise
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12 text-center">
            <p class="text-muted">No exercises available at the moment.</p>
        </div>
    {% endfor %}
</div>
