{% extends "home.html" %}

{% block title %}
  Quiz: {{ quiz.title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h4 class="mb-4 text-center">Quiz: {{ quiz.title }}</h4>

    <!-- Instructor can view student submission and grade -->
    <div class="mt-4">
      <h5 class="text-center">Submitted Quiz Review for{{ quiz.student.username }}</h5>
      <ul class="list-group">
        {% for attempt in question_attempts %}
          <li class="list-group-item mb-3">
            <p><strong>Question:</strong> {{ attempt.question.text }}</p>
            <p><strong>Student's Answer:</strong> {{ attempt.student_answer }}</p>
            <p><strong>Correct Answer:</strong> 
              {% if attempt.question.type == "multiple_choice" %}
                 {{ attempt.question.mcq_answer }}
              {% elif attempt.question.type == "true_false" %}
                {{ attempt.question.tf_answer }}
              {% endif %}
            </p>
            <p class="
            {% if attempt.is_correct %}
              text-success
            {% else %}
              text-danger
            {% endif %}
            ">
            {% if attempt.is_correct %}
              ✅ Correct
            {% else %}
              ❌ Incorrect
            {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>

      <!-- Edit Grade for Instructor -->
      <h5 class="mt-4 text-center">Edit Grade</h5>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="grade">Grade (out of {{ total_marks }}):</label>
          <input type="number" name="grade" class="form-control" value="{{ score }}" min="0" max="{{ total_marks }}">
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Save Grade</button>
        </div>
      </form>

      <div class="text-center mt-4">
        <a href="{% url 'instructor:go_to_course' class_shell_id=class_shell.id %}" class="btn btn-primary btn-sm">
          Go back
        </a>
      </div>
    </div>
</div>
{% endblock %}
